<h2 mat-dialog-title>{{ estadoFormulario }} Producto</h2>
<mat-dialog-content>
    <form [formGroup]="productForm">
        <div class="product-container">
            <mat-form-field>
                <input matInput type="text" placeholder="Nombre" formControlName="name" required />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Precio" formControlName="price" required />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Cantidad" formControlName="account" required />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{ category.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <mat-label>Imagen</mat-label>
                <label for="file-upload" class="upload">
                    Subir Archivo
                </label>

                <input
                    id="file-upload"
                    accept="image/png, image/jpeg"
                    (change)="onFileChange($event)"
                    type="file"
                    class="input-file"
                   
                    [(ngModel)]="imgUpload"
                    [ngModelOptions]="{standalone: true}"
                    />
                <div class="show-img" *ngIf="showImg">
                    <img [src]="showImg" height="100" width="100">
                </div>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="productForm.invalid">
        <mat-icon>save</mat-icon>Guardar
    </button>
    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>Cancelar
    </button>
</mat-dialog-actions>